.prompt-cta {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.prompt-cta h1 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.2em;
}

progress[value] {
  appearance: none;
  width: 60%;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: white;
  border: 2px solid var(--first-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) inset;
  border-radius: 1.2em;
}

progress[value]::-webkit-progress-value {
  border-radius: 1.2em;
  background-color: var(--third-color);
}

@media only screen and (min-width: 1080px) {
  .prompt-cta {
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: var(--first-color);
  }

  .prompt-cta h1 {
    color: white;
  }

  progress[value]::-webkit-progress-bar {
    border-color: var(--main-color);
  }
}
