:root {
  --main-color: #f3f6f9;
  --first-color: #32363e;
  --second-color: #20232a;
  --third-color: teal;
}

body {
  margin: 0;
  background-color: var(--main-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1080px) {
  .App {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
}
